/*===GLOBAL===*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*===REUSABLE CODES===*/

.button {
    color: white;
    padding: 5px 10px;
    background-color: orange;
    border-radius: 30px;
}

.text-contrast {
    color: orange;
}

/*=====NAVBAR=====*/
.logo {
    color: whitesmoke;
    font-size: 3vmax;
}

.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    z-index: 999;
  }

.navbar-ul {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 2vw;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
} 

.nav-link:hover {
    font-weight: bolder;
    background-color: orange;
    border-radius: 30px;
    padding: 5px 10px;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    cursor: pointer;
    display: none;
}

/*====HOMEPAGE===*/

header {
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1597839219216-a773cb2473e4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-content {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 15vh;
    font-size: 3vmin;
}

.home-content h1 {
    font-size: 4vmax;
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-content h3 {
    font-size: 3vmax;
    padding-bottom: 15px;
}

.line {
    width: 20vw;
    height: 4px;
    background: orange;
    margin: 10px auto;
    border-radius: 5px;
}


.hero {
    margin-top: 17vh;
    width: 30vw;
    min-width: 300px;
}

/*=============ABOUT===========*/

.about {
    height: 100vh;
    width: 100vw;
    background-color: rgb(7, 37, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
    font-size: 3vmin;
    padding-bottom: 2vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.about h1 {
    font-size: 4vw;
}

.about p {
    font-size: 2vh;
    width: 65vw;
    margin-top: 5vh;
    padding: 20px;
    background: rgb(22, 22, 26);
    border-radius: 20px;
    margin-bottom: 5vh;
    
}

/*=========SKILLS=========*/


.skill {
    background-color:  rgb(22, 22, 26);
    width: 30vw;
    height: auto;
    color:white;
    padding: 20px;
    box-shadow: 0 15px 30px black;
    border-radius: 30px;
    animation: 3s;
}

.skill h1 {
    text-align: center;
    font-size: 3vw;
    color: orange;
}

.skill h3 {
    margin: 5px;
    font-size: 1vw;
    text-align: left;
}

.skill li {
    margin: 20px 0;
}

.bar {
    background: whitesmoke;
    display: block;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
    box-shadow: 0 5px 10px black;
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, whitesmoke 0%, orange 100%);

}



.skill:hover {
    .cpp {
        width: 45%;
        animation: cpp 3s;
    }
    .html {
        width: 85%;
        animation: html 3s;
    }
    .css {
        width: 70%;
        animation: css 3s;
    }
    .javascript {
        width: 25%;
        animation: javascript 3s;
    }
}

.cpp {
    width: 45%;
    animation: cpp 3s;
}
.html {
    width: 85%;
    animation: html 3s; 
}
.css {
    width: 70%;
    animation: css 3s;
}
.javascript {
    width: 25%; 
    animation: javascript 3s;
}


@keyframes cpp {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}


@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 25%;
    }
}

/*=====PORTFOLIO SECTION======*/

.portfolio {
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(15, 14, 14);
}

.portfolio h1 {
    font-size: 4vh;
    color: whitesmoke;
}

.container-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 70vw;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding: 30px;
}


.container-portfolio {
    border: solid 1.5px orange;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    margin: 1vw;
    
}

.img1 {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.25s;
}

.container:hover .img1 {
    transform: scale(1.1);
}

.container:hover .img-overlay1 {
    opacity: 1;
}

.img-overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img-title1 {
    text-align: center;
}

.img-title1 h3 {
    margin: 0;
    font-size: 1.2em;
}


.img-overlay1 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay1:hover{
    opacity: 3;
}

.img-overlay1:hover >*{
    transform: translateY(0);
}

/*=====CONTACT SECTION======*/

.contact {
    min-height: 50vh;
    background-color: rgb(7, 37, 35);
    padding: 50px;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h1 {
    color: orange;
    font-size: 36px;
    margin-bottom: 40px;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h2 {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;  
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 7px black;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: orange;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 20px;
}

button:hover {
    color: black;
    background-color: white;
}

.contact-info {
    text-align: left;
}

.contact-info h2 {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
    color: whitesmoke;
}

.contact-info i {
    color: orange;
    margin-right: 10px;
}

/*###########TABLET DEVICE##############*/

@media (max-width:800px) {

      /*===NAVBAR====*/
      .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .navbar {
        padding: 0;
    }

    .navbar-ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        transition: all 0.4s ease;
        background: black;
        margin-top: -1000px;
        border-radius: 30px;
        opacity: 0.9;
    }

    .navbar-ul li {
        margin: 30px auto;
    }

    .menu-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 50px;
        cursor: pointer;
        display: block;
    }

    .mobile-menu {
        margin-top: 0px;
    }

    
    /*=====HOMEPAGE=====*/

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero {
        width: 30vw;
        height: auto;
    }

    .home-content {
        color: whitesmoke;
        text-align: center;
        margin-bottom: 10vh;
        font-size: 3vmin;
    }

    .home-content h1 {
        font-size: 7vw;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .home-content h4 {
        font-size: 5vw;
        padding-bottom: 15px;
    }

    .line {
        width: 30vw;
        height: 4px;
        background: orange;
        margin: 10px auto;
        border-radius: 5px;
    }

    /*===ABOUT===*/

    .about {
        height: 100vh;
        width: 100vw;
        background-color: rgb(7, 37, 35);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: whitesmoke;
        text-align: center;
    }
    
    
    .about h1 {
        font-size: 4vw;
    }
    
    .about p {
        font-size: 2vh;
        width: 60vw;
        margin-top: 5vh;
        padding: 20px;
        background: rgb(22, 22, 26);
        border-radius: 20px;
        margin-bottom: 2vh;
    }
    
    /*====SKILLS===*/
    .skill {
        background-color:  rgb(22, 22, 26);
        width: 50vw;
        height: auto;
        color:white;
        padding: 20px;
        box-shadow: 0 15px 30px black;
        border-radius: 30px;
    }
    
    .skill h1 {
        text-align: center;
        font-size: 3vw;
        color: orange;
    }
    
    .skill h3 {
        margin: 2px;
        font-size: 2vw;
        text-align: left;
    }
    
    .skill li {
        margin: 20px 0;
    }
    
    .bar {
        background: whitesmoke;
        display: block;
        height: 15px;
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    }
    
    .bar:hover {
        box-shadow: 0 5px 10px black;
    }
    
    .bar span {
        height: 20px;
        float: left;
        background: linear-gradient(135deg, whitesmoke 0%, orange 100%);
    }

    /*===PORTFOLIO====*/

    .portfolio {
        height: 100vh;
    }

    .container-row {
        grid-template-columns: repeat(2, 1fr);
        width: 50vh;
    }

    /*==CONTACT==*/
    .contact-container {
        padding: 20px;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
    }


}


/*#######MOBILE DEVICE###########*/

@media(max-width:700px) {
    
    /*===NAVBAR====*/
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .navbar {
        padding: 0;
    }

    .navbar-ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        transition: all 0.4s ease;
        background: black;
        margin-top: -1000px;
        border-radius: 30px;
        opacity: 0.9;
    }

    .navbar-ul li {
        margin: 30px auto;
    }

    .menu-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 50px;
        cursor: pointer;
        display: block;
    }

    .mobile-menu {
        margin-top: 0px;
    }

    
    /*=====HOMEPAGE=====*/

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero {
        width: 50vw;
        height: auto;
        min-width: 200px;
    }

    .home-content {
        color: whitesmoke;
        text-align: center;
        margin-bottom: 10vh;
        font-size: 3vmin;
    }

    .home-content h1 {
        font-size: 7vw;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .home-content h4 {
        font-size: 5vw;
        padding-bottom: 15px;
    }

    .line {
        width: 30vw;
        height: 4px;
        background: orange;
        margin: 10px auto;
        border-radius: 5px;
    }

    /*===ABOUT===*/

    .about {
        height: 100vh;
        width: 100vw;
        background-color: rgb(7, 37, 35);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: whitesmoke;
        text-align: center;
    }
    
    
    .about h1 {
        font-size: 4vw;
    }
    
    .about p {
        font-size: 2vh;
        width: 65vw;
        margin-top: 3vh;
        padding: 20px;
        background: rgb(22, 22, 26);
        border-radius: 20px;
        margin-bottom: 2vh;
    }
    
    /*====SKILLS===*/

    .skill {
        background-color:  rgb(22, 22, 26);
        width: 60vw;
        height: auto;
        color:white;
        padding: 20px;
        box-shadow: 0 15px 30px black;
        border-radius: 30px;
    }
    
    .skill h1 {
        text-align: center;
        font-size: 3vw;
        color: orange;
    }
    
    .skill h3 {
        margin: 5px;
        font-size: 2vw;
        text-align: left;
    }
    
    .skill li {
        margin: 20px 0;
    }
    
    .bar {
        background: whitesmoke;
        display: block;
        height: 15px;
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    }
    
    .bar:hover {
        box-shadow: 0 5px 10px black;
    }
    
    .bar span {
        height: 20px;
        float: left;
        background: linear-gradient(135deg, whitesmoke 0%, orange 100%);
    }

     /*===PORTFOLIO====*/

     .portfolio {
        height: 100vh;
    }

    .container-row {
        grid-template-columns: repeat(2, 1fr);
        width: 45vh;
    }

    /*====CONTACT===*/

    
    .contact-container {
        padding: 20px;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
    }

    .contact-container h1 {
        color: orange;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .contact-form {
        text-align: left;
    }

    .contact-form h2 {
        color: whitesmoke;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    input, textarea {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        border: none;  
    }

    input:focus,
    textarea:focus {
        outline: none;
        box-shadow: 0 0 7px black;
    }

    button {
        display: inline-block;
        padding: 12px 24px;
        background-color: orange;
        border: none;
        color: whitesmoke;
        cursor: pointer;
        transition: 0.3s ease;
        border-radius: 20px;
    }

    button:hover {
        color: black;
        background-color: white;
    }

    .contact-info {
        text-align: left;
    }

    .contact-info h2 {
        color: whitesmoke;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact-info p {
        margin-bottom: 10px;
        color: whitesmoke;
    }

    .contact-info i {
        color: orange;
        margin-right: 10px;
    }
}



